<template>
    <div>
        <component :is="component" @change="onChange"></component>
    </div>
</template>

<script>
    export default {
        name: "Field",
        props: {
            onChange: Function,
            value: String,
            name: String,
            component: String
        }
    }
</script>

<style scoped>

</style>