<template>
    <div>
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: "Formik",
        props: {
            initialValue: Object,
            onSubmit: Function
        },
        methods: {
            onChange: function() {
                console.log(change);
            }
        }
    }
</script>

<style scoped>

</style>