<template>
    <div class="board">
        <div class="board-name">{{ name }}</div>
        <div class="board-lists">
            <List v-for="list in lists" v-bind:key="list.id" v-bind:list="list" v-bind:on-new-card="handleNewCard"></List>
        </div>
    </div>
</template>

<script>
    import List from "./List";

    export default {
        name: "Board",
        components: {List},
        data: () => ({
            lists: [
                {
                    id: 0,
                    name: "test",
                    cards: [
                        {id: 0, name: "test card"},
                        {id: 1, name: "test card 1", status: "done"},
                        {id: 2, name: "test card 2", status: "done"}
                    ]
                },
                {
                    id: 1,
                    name: "test2",
                    cards: [
                        {id: 0, name: "test card d"},
                        {id: 1, name: "test card c"}
                    ]
                },
                {
                    id: 2,
                    name: "test3",
                    cards: [
                        {id: 0, name: "test card d", status: "done"},
                        {id: 1, name: "test card d", status: "done"},
                        {id: 2, name: "test card c"}
                    ]
                }
            ],
            name: "Board 1",
            dragItem: null
        }),
        methods: {
            handleNewCard: function (card, into) {
                this.lists = this.lists.map(list => {
                    if (into.name === list.name) {
                        return {...list, cards: [card, ...list.cards]}
                    } else {
                        return list;
                    }
                })
            },
            onDrag: function (card, list) {
                this.dragItem = {
                    card, from: list
                };
            },
            onDrop: function(to) {
                const {card, from} = this.dragItem;
                this.lists = this.lists.map(list => {
                    if (list.name === from.name) {
                        list.cards = list.cards.filter(item => item.name !== card.name);
                    }
                    if (list.name === to.name) {
                        list.cards = [card, ...list.cards];
                    }
                    return list;
                })
            }
        },
        provide: function() {
            return {
                onDrag: this.onDrag,
                onDrop: this.onDrop
            }
        }
    }
</script>

<style scoped>
    .board {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        background: green;
    }

    .board-name {
        width: 100%;
        text-align: center;
    }

    .board-lists {
        display: flex;
        flex-direction: row;
        flex: 1;
        width: 100%;
        height: 100%;
        background: red;
    }
</style>