<template>
    <div class="card" draggable @dragstart="onDrag">
        <h2>{{name}}</h2>
        <p v-if="status && status === 'done'">waiting if</p>
        <p v-show="status && status === 'done'">waiting</p>
    </div>
</template>

<script>
    export default {
        name: "Card",
        props: {
            name: String,
            status: String,
            onDrag: Function
        }
    }
</script>

<style>
    .card{
        width: 80%;
        margin: 5px auto;
        background: pink;
    }
</style>