<template>
    <div class="list" @dragover.prevent @drop="onDrop(list)">
        <h1>{{list.name}} {{list.cards|countDone}}</h1>
        <div class="list-cards">
            <card v-for="card in list.cards" :key="card.id" v-bind="card" :on-drag="handleDrag(card)"></card>
            <a v-on:click.prevent="toggleForm">+ Add New Card</a>
            <NewCard @new-card="handleNewCard" :open="showForm" :on-cancel="toggleForm"/>
        </div>
    </div>
</template>

<script>
    import Card from "./Card";
    import NewCard from "./NewCard";

    export default {
        name: "List",
        components: {
            card: Card,
            NewCard
        },
        props: {
            list: Object,
            onNewCard: Function
        },
        data: () => ({
            showForm: false
        }),
        filters: {
            countDone: function (cards) {
                return cards.filter(card => card.status && card.status === "done").length;
            }
        },
        inject: ["onDrag", "onDrop"],
        methods: {
            toggleForm: function () {
                this.showForm = !this.showForm;
            },
            handleNewCard: function (card) {
                this.toggleForm();
                this.onNewCard(card, this.list);
            },
            handleDrag: function (card) {
                return () => this.onDrag(card, this.list)
            }
        }
    }
</script>

<style scoped>
    .list {
        max-width: 360px;
        width: 100%;
        height: 100%;
        margin: 10px;
        display: flex;
        flex-direction: column;
        background: gray;
    }

    a {
        cursor: pointer;
    }
</style>