<template>
    <Modal :onClose="onCancel" :open="open" title="New Card">
        <Formik>
            <Field name="test" value="test" component="RadioGroup" label="Status" :choices="[{id: 'new', text: 'New'}, {id: 'done', text: 'Done'}]"/>
        </Formik>
        <div class="newCard">
            <div class="grid-row">
                <label for="title">Title : </label> <input type="text" id="title" v-model="name"/>
            </div>
            <div class="grid-row">
                <label for="velocity">Velocity : </label> <input type="number" id="velocity" v-model.number="velocity"/>
            </div>
            <div class="grid-row">
                <label for="description">Description : </label>
                <input type="text" id="description" v-model="description"/>
            </div>
            <div class="grid-row">
                <RadioGroup
                    v-model="status"
                    name="status"
                    label="Status"
                    :choices="[{id: 'new', text: 'New'}, {id: 'done', text: 'Done'}]"
                />
            </div>
        </div>
        <template slot="footer">
            <button v-on:click.prevent="handleSubmit">Submit</button>
        </template>
    </Modal>
</template>

<script>
    import Modal from "./lib/Modal";
    import RadioGroup from "./lib/RadioGroup";
    import Formik from "./lib/Formik/Formik";
    import Field from "./lib/Formik/Field";

    const initialDatas = {
        name: "",
        description: "",
        velocity: "",
        status: "new"
    };
    export default {
        name: "NewCard",
        components: {
            Modal,
            RadioGroup,
            Formik,
            Field
        },
        props: {
            open: Boolean,
            onCancel: Function
        },
        data: () => ({...initialDatas}),
        methods: {
            handleSubmit: function () {
                this.$emit("new-card", {...this.$data});
                Object.keys(initialDatas).forEach(key => {
                    this[key] = initialDatas[key];
                });
            }
        }
    }
</script>

<style scoped>
    .grid-row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
</style>