<template>
    <div class="modal" v-if="open">
        <div class="backdrop" @click="onClose"></div>
        <div class="modal-container">
            <div class="modal-title">
                <h2>{{title}}</h2>
                <a @click="onClose">X</a>
            </div>
            <div class="modal-content"><slot></slot></div>
            <div class="modal-footer">
                <slot name="footer">
                    <a @click="onClose">Cancel</a>
                    <a @submit="onSubmit">Submit</a>
                </slot>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Modal",
        props: {
            open: Boolean,
            title: String,
            onClose: Function,
            onSubmit: Function,
        }
    }
</script>

<style scoped>
    .modal {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100%;
        max-height: 100%;
        min-width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .modal > .modal-container {
        z-index: 1;
        display: flex;
        flex-direction: column;
        background: whitesmoke;
        min-height: 25%;
        max-height: 75%;
        min-width: 40%;
        max-width: 80%;
    }
    .modal-container > .modal-title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 30px;
        margin-bottom: 10px;
        border-bottom: 1px solid black;
    }
    .modal-container > .modal-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 30px;
        margin-top: 10px;
        border-top: 1px solid black;
    }
    .modal-container > .modal-content {
        flex: 1;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .backdrop{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.5);
    }
</style>