<template>
    <div>
        <label>{{label}} : </label>
        <label v-for="choice in choices" :key="choice.id">
            {{choice.text}}
            <input type="radio" :name="name" :value="choice.id" @change="$emit('input', $event.target.value)" :checked="value === choice.id">
        </label>
    </div>
</template>

<script>
    export default {
        name: "RadioGroup",
        props: {
            value: String,
            label: String,
            choices: Array,
            name: String
        }
    }
</script>

<style scoped>

</style>